.btn-cust{
    border: none;
    color: white;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 4px 0px;
    cursor: pointer;
    width: 100%;
    /* background-color: #2e3347; */
}

.btn-signup{
    border-radius: 8px;
    background-color: #4795b2;
}

.btn-login{
    border-radius: 8px;
    background-color: #66bafe;
}

input{
    border-radius: 5px;
    width: 100%;
    padding: 3px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f1f1f1;
}

/* log In */
.login-container{
    display: flex;
    justify-content: center;
    height: auto;
}

.login-container > div {
  width: 300px;
  margin-top: 30px;
  background-color: #b3eaff;
  padding: 20px;
  border-radius: 5px;
}

.login-container > div > h2 {
    text-align: center;
    color: white;
}

.login-container > div > label {
    color: white;
}

/* .login-container-bg{
    background-image: url("../public/pizza_1.jpg");
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.wrong-username-password {
    color: red;
}

.login-container > div > button {
    margin-top:10px;
}

.login-title{
    margin-top: 50px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    /* for desktop */
    .login-container{
        display: flex;
        justify-content: center;
        height: auto;
    }

    .login-container-bg{
        height: 700px;
    }
}

/* end log In */

/* nav bar */

.container-navbar{
    display: flex;
    justify-content: center;
    /* border:1px solid green; */
}

.container-navbar > div > a {
    width: 80%;
    border-radius: 20px;
    height:100%;
    background-color: #2e3347;
}

.btn-navbar{
    background-color: #0d6efd;
}

.btn-navbar-logout{
    background-color: #ffc107;
}

nav {
    display: flex;
    flex-direction: row;
}

.container-navbar > nav > div > a > button {
    border-right: 3px solid #4795b2;
}

.btn-active-navbar{
    background-color: #66bafe;
    color: white;
}

.btn-non-active-navbar{
    background-color: #b3eaff;
    color: black;
}

@media only screen and (min-width: 768px) {
    .container-navbar{
        display: flex;
        justify-content: flex-end;
        /* border:1px solid green; */
        /* float:right; */
    }
}

/* end nav bar */

/* home/dashboard */
.container-home{
    background-color: #e9ebe8;
}
.title-home {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.container-search-input{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.search-input-home{
    font-size: 15px;
    width: 90%;
}

.btn-search-home{
    border: none;
    color: white;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4795b2;
    height: 30px;
    width: 60px 
}

@media only screen and (min-width: 768px) {
    .search-input-home{
        width: 400px;
    }

    .container-header-home{
        height:205px
    }

    .container-search-input{
        padding-top: 30px;
    }
}

/* @media only screen and (min-width: 500px) {
    .search-input-home{
        width: 00px;
    }
} */

/* end home/dashboard */


/* product card */

.product-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card-wrapper{
    border: 1px solid white;
    padding: 5px;
}

.product-card-wrapper > img {
    width: 150px;
    height: 150px;
}

.product-cards-container a:link,
.product-cards-container a:visited ,
.product-cards-container a:hover ,
.product-cards-container a:active  {
    color: black;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .product-cards-container{
        margin: 0 40px 0 40px;
    }
}

/* end product card */


/* detail product */
.product-container{
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.product-img img {
    width: 300px;
}

.product-description{
    width: 300px;
    margin: 10px;
}

.product-description > div{
    padding-top: 5px;
}

.product-description-title{
    font-weight: 640;
}

.product-buy-wrapper{
    display: flex;
}

.product-buy-title{
    width: 70px;
}

.product-buy-button{
    margin-top: 10px;
    background-color: #4795b2;
    color: white;
    border: none;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    .product-container{
        flex-direction: row;
        align-items: normal;
    }

    .product-description{
        width: 600px;
    }
}

/* end detail product */


/* profile */
.profile-container{
    margin: 15%;
    border: 1px solid #66bafe;
    border-radius: 5px;
    padding: 10px;
    background-color: #66bafe;
}

.profile-input{
    margin-bottom: 10px;
}

.title-profile{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.profile-wait-message{
    text-align: center;
    font-weight: 700;
}

.profile-wait-message-icon{
    text-align: center;
}

.profile-disabled-action{
    color: red;
    font-weight: 500;
}

.btn-login-signup-first-child:disabled{
    background-color: #cccccc;
    color: #666666;
}

@media only screen and (min-width: 768px) {
    .profile-container{
        margin: 5%;
        width: 325px;
    }

    .profile-input{
        width: 300px;
    }
}
/* end profile */

/* cart */

.cart-product-wrapper{
    display: flex;
    margin: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.cart-product-wrapper img {
    width: 80px;
}

.cart-product-title{
    width: 100px;
    padding: 5px;
}

.cart-product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-total-container{
    display: flex;
    flex-direction: row;
    width: 95%;
    /* border:1px solid red; */
    margin: 10px;
    font-size: 20px;
}

.cart-total-container > div{
    border-bottom: 1px solid gray;
    width: 100%;
    padding-right: 30px;
}

.cart-product-delete-btn{
    text-align: right;
    width: 20%;
}

@media only screen and (min-width: 768px) {
    .cart-product-title{
        width: 200px;
        padding: 5px;
    }

    .cart-product-container{
        flex-direction: row;
    }
}
/* end cart */


